<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>   
</head>
<body>
  <h1>Lista de alimentos a Comprar</h1>
  
  <ul>
<h2>Productos</h2>
   
      <li>Papas</li>
      <li>Huevos</li>
      <li>Leche</li>
      <li>Jamon</li>
      <li>Cafe</li>
      <li>Pollo</li>
      <li>Carne</li>
      <li>Arroz</li>
      <li>Azucar</li>
      <li>Sal</li>
      <li>Fideos</li>
      <li>Queso</li>
      <li>Aceite</li>
      <li>Yogur</li>

<h2>Productos Obtenidos</h2>

      <li>Pollo</li>
      <li>Carne</li>
      <li>Fideos</li>
      <li>Yogur</li>
      <li>Huevos</li>
      <li>Leche</li>
      <li>Arroz</li>

<h2>Productos no Obtenidos</h2>
      <li>Papas</li>
      <li>Jamon</li>
      <li>Cafe</li>
      <li>Azucar</li>
      <li>Sal</li>
      <li>Queso</li>
      <li>Aceite</li>
  </ul>
</body>
</html>